


<div class="container">

  <div class="card flex justify-center items-center" (click)="privateEvent()">
    <p class="heading text-white" >
      private Event
    </p>
    <p class="text-white">Powered By</p>
    <p class="text-white">Event Rabbiter group</p>
  </div>

  <div class="card flex justify-center items-center" (click)="publicEvent()">
    <p class="heading text-white">
      public Event
    </p>
    <p class="text-white">Powered By</p>
    <p class="text-white">Event Rabbiter group</p>
  </div>
</div>



