<div class="max-w-screen mx-auto px-4 sm:px-6 lg:px-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">

    <div class="col-span-1 lg:col-span-2 row-span-2 relative bg-cover bg-center rounded-lg"
      style="background-image: url('/assets/images/LD-Systems-ACL-Fest-2-5.jpg'); aspect-ratio: 3 / 2;">
      <div
        class="absolute inset-0 flex flex-col items-start justify-center text-white font-bold uppercase bg-black bg-opacity-70">
        <div>
          <span class="text-4xl lg:text-6xl">Experience the</span>
          <span class="text-4xl lg:text-6xl text-yellow-500">Excitement,</span>
          <span class="text-4xl lg:text-6xl">Embrace the</span>
          <span class="text-4xl lg:text-6xl text-green-500">Energy,</span>
          <span class="text-4xl lg:text-6xl">Enjoy the</span>
          <span class="text-4xl lg:text-6xl text-blue-500">Memories!</span>
        </div>
        <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mt-10 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800"  >
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"  routerLink="/eventTicketPlace" >
          Go To Shop
          </span>
          </button>
      </div>
    </div>



    <div class="col-span-1 relative bg-cover bg-center rounded-lg overflow-hidden bg-opacity-80"
      style="background-image: url('/assets/images/Copy of ladies night party.jpg'); aspect-ratio: 3 / 2;">
      <div class="absolute inset-0 flex items-center justify-center text-white text-3xl font-bold uppercase ">
        Unforgettable Entertainment, Unbeatable Memories
      </div>
      <button  routerLink="/eventTicketPlace"  class="relative inline-flex items-center justify-center p-0.5 mb-2 mt-60 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Go To Shop
        </span>
        </button>
    </div>

    <div class="col-span-1 relative bg-cover bg-center rounded-lg overflow-hidden"
      style="background-image: url('/assets/images/Les risques du pass sanitaire illustrées par ce cluster dans une discothèque.jpg'); aspect-ratio: 3 / 2;">
      <div class="absolute inset-0 flex items-center justify-center text-white text-3xl font-bold uppercase">
       Unforgettable Entertainment, Unbeatable Memorie
      
      </div>
      <button  routerLink="/eventTicketPlace"  class="relative inline-flex items-center justify-center p-0.5 mb-2 mt-60 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Go To Shop
        </span>
        </button>
      
      
    </div>

    <div  (click)="eventCreat()" class="col-span-1 lg:col-span-3 relative bg-cover bg-center rounded-lg"
      style="background-image: url('/assets/images/beach.jpg'); aspect-ratio: 3 / 1;">
      <div
        class="absolute inset-0 flex flex-col items-start justify-center text-white font-bold uppercase bg-black bg-opacity-80">
        <span class="text-4xl lg:text-6xl text-yellow-500">Feel the Beat,</span>
        <span class="text-base lg:text-6xl">Chase the Stars,</span>
        <span class="text-4xl lg:text-6xl text-green-500">Live the Dream,</span>
        <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Go To Create Event
          </span>
          </button>
      </div>
      
    </div>




    <div class="col-span-1 sm:col-span-2 relative bg-cover bg-center rounded-lg"
      style="background-image: url('/assets/images/Graphic\ Design\ Poster\ Typography\ _\ Дизайн\ и\ типографика\ плаката.jpg'); aspect-ratio: 3 / 1;">
      <div class="absolute inset-0 flex items-center justify-center text-white text-2xl font-bold uppercase">

      </div>
      
    </div>

    <div class="col-span-1 relative bg-cover bg-center rounded-lg"
      style="background-image: url('/assets/images/boob.jpg'); aspect-ratio: 16 / 11;">
     
        <span class="text-white">From Start to Finish,</span>
        <span class="text-yellow-500">Entertainment That Dazzles</span>
        <span class="text-green-500">and Delights</span>
      
    </div>
  </div>
</div>
