<body class="h-screen flex flex-col bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-white">
  <div class="chat-app flex flex-1 flex-col">
    <div class="flex flex-1 overflow-hidden">
      <!-- Sidebar -->
      <div class="chat-sidebar w-1/4 bg-gray-900 p-4 overflow-y-auto shadow-lg">
        <h2 class="text-lg font-semibold mb-4 text-pink-400">Members</h2>
        <ul>
          <ng-container *ngFor="let member of members">
            <li *ngIf="member.id !== userId" (click)="selectPerson(member.id, member)" class="cursor-pointer hover:bg-gray-700 p-2 flex items-center rounded-md transition duration-200">
              <img [src]="member.imageUrl || 'default-avatar-url.png'" alt="{{ member.username }}" class="h-12 w-12 rounded-full mr-4 border border-gray-300">
              <span class="font-medium">{{ member.username }}</span>
            </li>
          </ng-container>
        </ul>
      </div>

      <!-- Main Chat Area -->
      <div class="chat-main w-3/4 p-4 flex flex-col bg-gray-800">
        <div class="chat-room flex-1 mb-4" *ngIf="selectedRoomName">

          <div class="bg-gray-700 rounded-lg p-4 shadow-md">
            <h2 class="text-2xl font-semibold mb-4 text-pink-400 flex items-center">
              <img [src]="receiverImage.imageUrl || 'default-room-url.png'" alt="Chat Room Image" class="h-10 w-10 rounded-full mr-4">
              {{ receiverImage.username }}
            </h2>
          </div>

          <div class="messages flex-1 overflow-y-auto border border-gray-600 p-4 rounded-lg bg-gray-900 shadow-inner">
            <ng-container *ngFor="let message of messages">
             
              <div [ngClass]="{'my-message text-right bg-pink-600': message.senderId === userId, 'other-message text-left bg-gray-700': message.senderId !== userId}" class="mb-2 p-2 rounded-md shadow-sm message-text">
                <p class="text-gray-200">{{ message.content }}</p>
              </div>
            </ng-container>
          </div>
        </div>

        <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="flex mt-auto mb-10" [class.submitting]="isSubmitting">
          <input formControlName="message" placeholder="Type your message here" class="flex-1 border border-gray-600 rounded-l-lg p-2 focus:outline-none focus:ring-2 focus:ring-pink-500 bg-gray-700 text-gray-200" />
          <button type="submit" [disabled]="isSubmitting" class="bg-pink-500 text-white p-2 rounded-r-lg hover:bg-pink-600 transition duration-200">Send</button>
        </form>
      </div>
    </div>
  </div>
</body>
