<div class="h-screen flex flex-col sm:flex-row bg-black">

  
  <div class="sm:w-1/2 flex items-center justify-center">
    <form *ngIf="showIndividual" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="h-screen flex items-center justify-center bg-black">
        <div class="flex flex-col gap-4">
          <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-4">
            <!-- <div class=" sm:row-span-4">
              <img  
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdPDKy4BHfkcoi0yXTnb8oi6sy24zV1MK-fLktZyh9qCP6Zamwo56PbAvH_g01CvBreF4&usqp=CAU"
                class="rounded-lg" alt="" />
            </div> -->
            <!-- <div class="">
              <input type="text" formControlName="name" class="rounded-lg py-2 w-full" placeholder="Name" />
            </div> -->
            <div>
              <select formControlName="listOfCategoryId" class="rounded-lg py-2 w-full" style="border-color: red;">
                <option *ngFor="let category of categories" [value]="category.id">{{ category.category }}</option>
              </select>
            </div>
            <div class="">
              <input type="text" formControlName="bio" class="rounded-lg py-2 w-full" placeholder="Bio" />
            </div>
    
            <div class="">
              <input type="text" formControlName="description" class="rounded-lg py-2 w-full" placeholder="Description" />
            </div>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="">
              <input type="text" #inputField placeholder="Placeholder" name="" id="" class="rounded-lg py-2 w-full" />
            </div>
            <div class="">
              <input type="text" name="" id="" class="rounded-lg py-2 w-full" />
            </div>
          </div>
          <div>
            <button type="submit" class="bg-purple-700 w-full py-2 rounded-lg mb-4">Save</button>
          </div>
        </div>
      </div>
    </form>
    <form *ngIf="showEventPlace" [formGroup]="formEventPlace" (ngSubmit)="onSubmitEventPlace()">
    
      <div class="h-screen flex items-center justify-center bg-black">
        <div class="flex flex-col gap-4">
          <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mt-4">
            <div>
              <select formControlName="listOfCategoryId" class="rounded-lg py-2 w-full" style="border-color: red;">
                <option *ngFor="let category of categories" [value]="category.id">{{ category.category }}</option>
              </select>
            </div>
            <div class="">
              <input type="text" formControlName="bio" class="rounded-lg py-2 w-full" placeholder="Bio" />
            </div>
    
            <div class="">
              <input type="text" formControlName="description" class="rounded-lg py-2 w-full" placeholder="Description" />
            </div>
          </div>


          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="">
              <input type="text" #inputField placeholder="Placeholder" name="" id="" class="rounded-lg py-2 w-full" />
            </div>
            <div class="">
              <input type="text" name="" id="" class="rounded-lg py-2 w-full"  formControlName="seatNumber" placeholder="seatNumber" />
            </div>
          </div>
          <div>
            <button type="submit" class="bg-purple-700 w-full py-2 rounded-lg mb-4">Save</button>
          </div>
        </div>
      </div> 
    </form>
    
    
    
    
    <form *ngIf="showTeam" [formGroup]="formTeam" (ngSubmit)="onSubmitTeam()">
      <div class="h-screen flex items-center justify-center bg-black">
        <div class="flex flex-col gap-4">
          <div class="grid grid-cols-1 sm:grid-cols-1 gap-4 mt-4">

            <div>
              <select formControlName="listOfCategoryId" class="rounded-lg py-2 w-full" style="border-color: red;">
                <option *ngFor="let category of categories" [value]="category.id">{{ category.category }}</option>
              </select>
            </div>
            
            <div class="">
              <input type="text" formControlName="bio" class="rounded-lg py-8 w-full" placeholder="Bio" />
            </div>
    
            <div class="w-full">
              <input type="text" formControlName="description" class="rounded-lg py-16 px-6 w-full text-lg" placeholder="Description" />
            </div>
            
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

          </div>

          <div class="grid grid-cols-2 sm:grid-cols-2 gap-4">
            <div>
              <input type="text" #nameInput class="rounded-lg py-2 w-full">
            </div>
            <div>


              <div (click)="addName(nameInput.value)" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                <div class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                  Save
                </div>
              </div>



            </div>
          </div>

          <div>
            <button type="submit" class="bg-blue-600 w-full py-2 rounded-lg mb-4">Save</button>
          </div>
        </div>
      </div>
    
    </form>
    
  </div>

  
  <div class="sm:w-1/2 bg-purple-700 flex items-center justify-center flex-wrap">


   
    <div *ngFor="let name of nameOFMembers" class="relative inline-flex  items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 ">
      <div class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">{{ name }} <button> <i class="fa-solid fa-bug-slash"></i></button>
       </div>
    </div>
  

  </div>
  

</div>
