.fa-sharp.fa-solid.fa-comments {
     color: rgb(208, 0, 255);
     font-size: 25px;
     margin-top: 10px;
     margin-left: 7px;
 }

.fa-solid.fa-certificate,
.fa-brands.fa-wpexplorer,
 .fa-brands.fa-wpexplore,
 .fa-brands.fa-battle-net {
     color: rgb(208, 0, 255);
 }
 