<div class='relative rabbit-font'>
  <div class='grid grid-cols-2 h-[100vh]'>
    <div class='bg-'>
      <div class=' w-[80%] mx-auto flex flex-col gap-8   mt-8 text-white'   *ngIf="userProfile">
        <div class='px-2' style="border-left: 3px solid rgb(208, 0, 250)">
          <h1 class="text-2xl"> {{ userProfile.username }} {{ userProfile.firstName }}

            <i class="fa-solid fa-certificate" *ngIf="userProfile.profileVerification === true"></i>

          

             </h1>
          <p> {{ userProfile.description }}</p>
          <p> {{ userProfile.phoneNumber }}</p>

          <div>
            <i class="fa-sharp fa-solid fa-comments"></i>
          </div>
          
        </div>
        <br>
        <br>
        <br>
        <div>
          <h1>Bio</h1>
          <div class='flex flex-col gap-4'>
            <div style="border: 2px solid rgb(208, 0, 250); border-radius: 15px;">
              <p class="px-4 py-2"> {{ userProfile.bio }}</p>
            </div>
            <div style="border: 2px solid rgb(208, 0, 250); border-radius: 15px;">
              <p class="px-4 py-2">{{ userProfile.phoneNumber }}</p>
            </div>
            <div style="border: 2px solid rgb(208, 0, 250); border-radius: 15px;">
          
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class=' flex justify-center items-center px-10' style="background-color:rgb(208, 0, 250) ;">
      <div class=''>
        <h1 class="text-2xl text-white">Notification</h1>

        <div class='flex items-center gap-2'>
          <img src="https://hips.hearstapps.com/hmg-prod/images/lady-gaga-attends-netflixs-maestro-los-angeles-photo-call-news-photo-1707081486.jpg" alt="" class='w-[60px] h-[60px] rounded-lg' />
          <div class="flex items-center gap-2 p-1 rounded-lg text-white border-2 border-black">
              <p class="text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In reiciendis quisquam repellat debitis? Odit, deleniti?</p>
              <i class="fa-solid fa-users-line text-3xl text-black"></i> 
              <i class="fa-solid fa-message text-3xl text-black"></i> 
          </div>
       </div>
        <button class='w-full bg-black py-1 mt-2 text-white' style="border-radius: 5px">Accept the event</button>
      </div>

      






      
    </div>

  </div>

<div class='absolute inset-0  flex justify-center mt-10'>
<div class="flex flex-col gap-4">

<div class='rounded-lg '>
<img src="https://img.freepik.com/free-photo/beautiful-girl-stands-near-walll-with-leaves_8353-5378.jpg" alt="" class='object-cover rounded-lg w-[180px] h-[150px]'/>
</div>
<div class="text-white flex gap-5">
  
  <i class="fa-brands fa-wpexplorer text-3xl"></i>
  <i class="fa-brands fa-battle-net text-3xl"></i>
  <i class="fa-solid fa-note-sticky text-3xl text-black"></i>
  <i class="fa-solid fa-ghost  text-3xl text-black"></i>
</div>

</div>


 
</div>