
<div class="bg-black h-[100vh]  w-[100%] rabbit-font">
     <div class="flex justify-center gap items-center  w-[80%] mx-auto">
     
      <div class=" text-white bg-black  hidden md:block mx-3">
        <p class="text-6xl font-bold uppercase tracking-wide ">
         Create your own event        
        </p>
       </div>

     <div class=" parent flex  flex-col sm:flex-row   justify-center items-center w-[100%]  ">
       <div class="relative flex flex-col justify-center items-center ">
         <div class="ring w-[500px] h-[500px] sm:w-[400px] sm:h-[400px] md:w-[350px] md:h-[400px] lg:w-[500px] lg:h-[500px]">
           <i style="--clr:#00ff0a;"></i>
           <i style="--clr:#ff0057;"></i>
           <i style="--clr:#fffd44;"></i>
         </div>


         <div  class="signin">
            <h2 *ngIf="!showOtpForm">SignUpForm</h2>
          <form  *ngIf="!showOtpForm" [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUpForm()">
               <div class="inputBx">
                   <input type="text" placeholder="First Name" formControlName="firstName">
               </div>
               <div class="inputBx">
                   <input type="text" placeholder="Last Name" formControlName="lastName">
               </div>
               <div class="inputBx">
                   <input type="text" placeholder="Username" formControlName="username">
               </div>
               <div class="inputBx">
                   <input type="password" placeholder="Password" formControlName="password">
               </div>
               <div class="inputBx">
                   <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
               </div>
               <div class="inputBx">
                <input type="text" placeholder=" Phone Number" formControlName="phoneNumber">
               </div>
               <div class="inputBx">
                   <input type="email" placeholder="Email" formControlName="email">
               </div>
               <div class="inputBx flex justify-center">
                <button type="submit" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    {{ 'signup' | uppercase }}
                </button>
            </div>            
           </form>


           <ng-container *ngIf="showOtpForm">
            <h2>Verify OTP</h2>
            <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtpForm()">
              <div class="inputBx">
                <input type="text" placeholder="Enter OTP" formControlName="otp">
              </div>
              <div class="inputBx flex justify-center">
                <button type="submit" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Verify OTP</button>
              </div>
            </form>
           </ng-container>

           
           
           
        </div>   
      </div>
    </div>
  </div>
</div>
     
     
  
