
<div
  class="md:text-4xl sm:text-3xl xs:text-2xl text-center font-serif font-extrabold border-b-2 dark:border-red-500 text-white">
  CATEGORY LIST
</div>

<div class="flex justify-around mt-3">
  <button (click)="setGatherd()" type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">Gatherd Category</button>

  <button (click)="setIndivAndTeamFalse()"  type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">Team Category</button>

  <button (click)="setIndi()"  type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">Individual Category</button>


</div>




@if (gath) {
  <div class="parent">
    

    <div class="relative overflow-x-auto m-14">
      <input type="text" id="newCategoryInput" aria-label="New Category Name"
      class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Enter category name" [(ngModel)]="newCategoryName" required>
     <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg w-full p-2.5" (click)="onSubmitGather()">
      Submit
    </button>
      
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 rounded-tl-lg">Category Name</th>
            <th scope="col" class="px-6 py-3">Edit</th>
            <th scope="col" class="px-6 py-3">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let listofcategory of paginatedGatherGrove" class="bg-white dark:bg-gray-800">
            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ listofcategory.gatherGroveName }}
            </td>    
            <td class="px-6 py-4">
            </td>
            <td class="px-6 py-4">
            </td>
          </tr>
        </tbody>
      </table>
      <app-pagination 
        [totalItems]="gatherGrove.length"
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)">
      </app-pagination>
    </div>
  </div>
}




@if (team) {
  <div class="parent">


    <div class="relative overflow-x-auto m-14">
      <input type="text" id="newCategoryInput" aria-label="New Category Name"
      class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Enter category name" [(ngModel)]="newCategoryName" required>
     <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg w-full p-2.5" (click)="onSubmitTeam()">
      Submit
    </button>
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3 rounded-tl-lg">Category Name</th>
            <th scope="col" class="px-6 py-3">Edit</th>
            <th scope="col" class="px-6 py-3">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let listofcategory of paginatedTeamCategory" class="bg-white dark:bg-gray-800">
            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{ listofcategory.teamCategoryName }}
            </td>    
            <td class="px-6 py-4">
            </td>
            <td class="px-6 py-4">
            </td>
          </tr>
        </tbody>
      </table>
      <app-pagination 
        [totalItems]="teamCategory.length"
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentPage"
        (pageChange)="onPageChange($event)">
      </app-pagination>
    </div>
  </div>
}



@if (indiv) {  
  <div class="parent">
    <div class="relative overflow-x-auto m-14">
      <input type="text" id="newCategoryInput" aria-label="New Category Name"
      class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Enter category name" [(ngModel)]="newCategoryName" required>
     <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg w-full p-2.5" (click)="onSubmitIndividual()">
      Submit
    </button>
         <app-add-list></app-add-list>
         <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
           <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
             <tr>
               <th scope="col" class="px-6 py-3 rounded-tl-lg">Category Name</th>
               <th scope="col" class="px-6 py-3">Edit</th>
               <th scope="col" class="px-6 py-3">Delete</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let listofcategory of paginatedIndividualCategory" class="bg-white dark:bg-gray-800">
               <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                 {{ listofcategory.individualCategoryName }}
               </td>    
               <td class="px-6 py-4">
               </td>
               <td class="px-6 py-4">
               </td>
             </tr>
           </tbody>
         </table>
         <app-pagination 
           [totalItems]="individualCategory.length"
           [itemsPerPage]="itemsPerPage"
           [currentPage]="currentPage"
           (pageChange)="onPageChange($event)">
         </app-pagination>
       </div>
  </div>
}

   