

<div>
  <app-navigation></app-navigation>
</div>

<div class="">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            User Name
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              Email
             
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              Accept
            </div>
          </th>
         
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>
      <tbody>

        <tr   *ngFor="let profile of verificationProfile" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">


          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{profile.username}}
          </th>

          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{profile.email}}
          </th>

          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            
            <button type="button" class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" (click)="accepUserId(profile.id)">Verification</button>

           </th>
          <td class="px-6 py-4 text-right">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          </td>
        </tr>
       
        
      </tbody>
    </table>
  </div>
</div>