
<div>
    <app-navigation></app-navigation>
</div>
<div class="parent">
    <a  routerLink="/listofcategory">
        
     <div class="container">
         <div class="card">
             <div class="logo">
                 <span class="circle circle1"></span>
                 <span class="circle circle2"></span>
                 <span class="circle circle3"></span>
                 <span class="circle circle4"></span>
                 <span class="circle circle5">
                    <i class="fa-solid fa-bowl-rice"></i>
                 </span>
             </div>
             <div class="glass">
                 <div class="content">
                     <h1>Add new List</h1>    
                 </div>
                 <div class="footer ">
                    <i class="fa-solid fa-bowl-rice testone"></i>
                 </div>
             </div>
         </div>
 
     </div>
    </a>

    <a routerLink="/verificationProfile">
     <div class="container">
        <div class="card">
            <div class="logo">
                <span class="circle circle1"></span>
                <span class="circle circle2"></span>
                <span class="circle circle3"></span>
                <span class="circle circle4"></span>
                <span class="circle circle5">
                    <i class="fa-solid fa-handshake-simple "></i>
                </span>
            </div>
            <div class="glass">
                <div class="content">
                    <h1>Verification</h1>    
                </div>
                <div class="footer">
                    <i class="fa-solid fa-handshake-simple"></i>
                </div>
            </div>
        </div>
    </div>
  </a>


     <div class="container">
          <div class="card">
              <div class="logo">
                  <span class="circle circle1"></span>
                  <span class="circle circle2"></span>
                  <span class="circle circle3"></span>
                  <span class="circle circle4"></span>
                  <span class="circle circle5">
                      <i class="fa-solid fa-handshake-simple"></i>
                  </span>
              </div>
              <div class="glass">
                  <div class="content">
                      <h1>Add List</h1>    
                  </div>
                  <div class="footer">
                      <i class="fa-solid fa-handshake-simple"></i>
                  </div>
              </div>
          </div>
  
      </div>


       
     <div class="container">
        <div class="card">
            <div class="logo">
                <span class="circle circle1"></span>
                <span class="circle circle2"></span>
                <span class="circle circle3"></span>
                <span class="circle circle4"></span>
                <span class="circle circle5">
                    <i class="fa-solid fa-handshake-simple"></i>
                </span>
            </div>
            <div class="glass">
                <div class="content">
                    <h1>Add List</h1>    
                </div>
                <div class="footer">
                    <i class="fa-solid fa-handshake-simple"></i>
                </div>
            </div>
        </div>

    </div>



      <div class="container">
          <div class="card" style=" background: linear-gradient(30deg, rgb(16, 0, 15), rgb(156, 246, 0), rgb(198, 19, 234));">
              <div class="logo">
                  <span class="circle circle1"></span>
                  <span class="circle circle2"></span>
                  <span class="circle circle3"></span>
                  <span class="circle circle4"></span>
                  <span class="circle circle5">
                      <i class="fa-solid fa-handshake-simple"></i>
                  </span>
              </div>
              <div class="glass">
                  <div class="content">
                      <h1>Add List</h1>    
                  </div>
                  <div class="footer">
                      <i class="fa-solid fa-handshake-simple"></i>
                  </div>
              </div>
          </div>
  
      </div>


      <div class="container">
          <div class="card">
              <div class="logo">
                  <span class="circle circle1"></span>
                  <span class="circle circle2"></span>
                  <span class="circle circle3"></span>
                  <span class="circle circle4"></span>
                  <span class="circle circle5">
                      <i class="fa-solid fa-handshake-simple"></i>
                  </span>
              </div>
              <div class="glass">
                  <div class="content">
                      <h1>Add List</h1>    
                  </div>
                  <div class="footer">
                      <i class="fa-solid fa-handshake-simple"></i>
                  </div>
              </div>
          </div>
  
      </div>
 </div>
 