
<div class="md:text-4xl sm:text-3xl xs:text-2xl text-center font-serif font-extrabold border-b-2 dark:border-red-500 text-white">
  YOUR EVENTS
</div>
<div class="parent flex justify-center items-center gap-5 flex-wrap">
  <div class="card" *ngFor="let entry of eventDataMap | keyvalue; let i = index; trackBy: trackByFn">
    <div class="card__wrapper">
      <div class="card___wrapper-accounts">
        <div class="card__score">{{ i + 1 }}</div> 
        <div class="card__accounts"> 
        </div>   
        <div class="card__accounts">
        </div>
      </div>
      <div class="card__menu">
        <i class="fa-solid fa-circle-nodes text-2xl" (click)="navigateToBackground(entry.value)"></i> 
      </div>

      <div class="card__menu">
        <i class="fa-solid fa-message"(click)="navigationToChat(entry.value)"></i>
      </div>

    </div>
    <div class="card__title">
      <div *ngFor="let name of entry.value.slice(0, 3); let last = last" class="">
        {{ name.eventPerformers.username }}{{ !last ? ', ' : ' ' }}
      </div>  
      Event 
      <span *ngIf="entry.value.length > 3"> and more...</span>
    </div>
    <div class="card__subtitle">Event creating from {{ entry.value[0].eventCreator.username }}. the coming day </div>
    <div class="card__indicator">
      <span class="card__indicator-amount">Event Id: </span> {{entry.value[0].id}} 
      <span class="card__indicator-percentage">2024</span>
    </div>
  </div>
</div>
