<body>
  <div class="container">
    <div class="card-holder">
      <a href="#" class="card">
        <div class="logo" style="
               background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/minecraft.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
            <p>Description of Example Card</p>
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>

      </a>

      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/minecraft.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
            <p>Description of Example Card</p>
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>

      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/minecraft.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
            <p>Description of Example Card</p>
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>


      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/minecraft.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
            <p>Description of Example Card</p>
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>


      


      <a href="#" class="card border ">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/nginxpm.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
            <p>Description of Example Card</p>
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>




      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/portainer.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
            <p>Description of Example Card</p>
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>
      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/proxmox.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
            <p>Description of Example Card</p>
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>
      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/tplink.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
            <p>Description of Example Card</p>
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>
      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/truenas.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
            <p>Description of Example Card</p>
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>
    </div>
  </div>
</body>