

<br>
  <br>
  <br>
  <div class="container ">
    <div class="card-holder">

      <a [routerLink]="'/userpage'" class="card">
        <div class="logo" style="
               background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/minecraft.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
           
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>

      <a [routerLink]="'/EventSetUp'" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
       <i class="fa-brands fa-odysee text-5xl"></i>
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>Event Ground</h1>
          </div>
          <div class="content content-2">
            <h1>Go To Event Ground </h1>
          </div>
        </div>
      </a>

      <a [routerLink]="'/notification'" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/truenas.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>Notification</h1>
            
          </div>
          <div class="content content-2">
            <h1>Go To Notification Place</h1>
          </div>
        </div>
      </a>


      <a [routerLink]="'/profileCategory'" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
     <i class="fa-solid fa-seedling text-4xl"></i>
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>Register Profile</h1>
          </div>
          <div class="content content-2">
            <h1>Go To Register Profile</h1>
          </div>
        </div>
      </a>


      


      <a href="#" class="card border ">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <i class="fa-regular fa-chart-bar text-4xl"></i>
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>Chat Place</h1>
           
          </div>
          <div class="content content-2">
            <h1>Go To Chat Place</h1>
          </div>
        </div>
      </a>




      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
          <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/portainer.png" />
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
           
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>


      <a  [routerLink]="'/ticketList'"  class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
            <i class="fa-solid fa-hands-asl-interpreting text-4xl"></i>
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>Event Ticket</h1>
           
          </div>
          <div class="content content-2">
            <h1>Go To Event Ticket Page</h1>
          </div>
        </div>
      </a>
      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
       <i class="fa-solid fa-braille text-4xl"></i>
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
           
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>
      <a href="#" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
         <i class="fa-solid fa-ghost text-4xl"></i>
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>User Profile</h1>
          
          </div>
          <div class="content content-2">
            <h1>Go To User Page</h1>
          </div>
        </div>
      </a>

        <button (click)="logOut()" class="card">
        <div class="logo" style="
              background: linear-gradient(30deg, rgb(16, 0, 15), rgb(82, 2, 92), rgb(198, 19, 234));
            ">
         <i class="fa-solid fa-ghost text-4xl"></i>
        </div>
        <div class="content-container">
          <div class="content content-1">
            <h1>Loge Out </h1>
          
          </div>
          <div class="content content-2">
            <h1>Go To Loge Out</h1>
          </div>
        </div>
      </button>
    </div>
  </div>
