<div class="superParent">
    <div class="booking-title">
        Booking Chart
    </div>
    <div class="parent">
        <div class="card small-chart">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>

    <div class="booking-title">
        Programing Details
    </div>
    <div class="parent">
        <div class="card-container">
            <div class="card">
                <p-chart type="polarArea" [data]="data" [options]="options"></p-chart>
            </div>
        </div>
        
    </div>
</div>
