.parent {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh; 
     
}
   
.small-chart {
     max-width: 800px; 
     width: 200%;
  
}
   

.booking-title {
     font-size: 2rem; /* Adjust the font size as needed */
     font-weight: bold;
     margin-bottom: 1rem; /* Adjust margin as needed */
     color: #fff; /* Set text color */
     background-color: #333; /* Set background color */
     padding: 1rem; /* Adjust padding as needed */
     width: 100%; /* Ensure full width */
     text-align: center; /* Center text */
}



.card-container {
     display: flex;
     justify-content: center;
    
 }
 
 .card {
     width: 600px; /* Set the desired width */
     height: 400px; /* Set the desired height */
     /* Add any other styling as needed */
     margin-bottom: 12.5rem; /* 200px divided by 16px = 12.5rem */

 }
 
